IMAGE_GENERATION_ENABLED=true

CALENDAR_ID=zzz@group.calendar.google.com
GOOGLE_PROJECT_ID=zzzz
GOOGLE_PRIVATE_KEY_ID=zzz
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----zzz\n-----END PRIVATE KEY-----\n"
GOOGLE_CLIENT_EMAIL=zzz@zzz.iam.gserviceaccount.com
GOOGLE_CLIENT_ID=123

OPENAI_API_KEY=sk-proj-abcd
WEATHER_LATITUDE=38.78445605410159
WEATHER_LONGITUDE=-9.438102924612862

TRMNL_WEBHOOK_URL_GUID=abcd-guid